
.recommendation--hawaii {
    background-image: url("../assets/Images/hawaii.jpg");
}
  
.recommendation__iceland {
    background-image: url("../assets/Images/iceland.jpg");
}
  
.recommendation__greece {
    background-image: url("../assets/Images/greece.jpg");
}
  
.recommendation__container {
    display: flex;
    justify-content: center;
    margin: auto;
    column-gap: 4rem;
}
.recommendation{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.recommendation__card {
    width: 23%;
    background-color: #fff;
    text-align: center;
    margin-bottom: 6rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
  
.recommendation__card > p {
    font-weight: 700;
    border-bottom: 0.3rem solid #000;
}
  
.recommendation__card__plan > li {
    background-color: #FEFAF5;
    list-style: none;
    padding: 1rem 2rem;
    margin-top: 2rem;
}
  
.recommendation__card__plan > li:last-child {
    margin-bottom: 8rem;
}

