/* :root{
    font-size: 10px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Verdana';
} */

/* .nav{
    display: flex;
    padding: 1rem;
    background-color: #FFFFFF;
    justify-content: space-between;
    color: #335576;
    align-items: center;
    margin-left: 2rem;   
}

.nav__list{
    display: flex;
    justify-content: flex-end;
    /* text-decoration: none; */
    /* list-style: none;
    background-color: #fff;
    padding: 1rem;
    margin: 0;
    /* border: 2px solid red; */
/* } */

/* .nav__item{
    list-style-type: none;
    font-size: 0.675rem;
    margin-left: 1rem;
    text-decoration: none;
}

.nav__link{
    text-decoration: none;
    color: black;
}

.nav__item--active{
    border-bottom: 3px solid #DB7A4E;
    font-size: 10.8px;
} */


/* .hero{
    background-color:#FEFAF5;
    padding-top: 2rem;
    display: flex;
}
.hero__title{
    color: #335576; */
    
    /* }
.hero__button{
    
    background-color: #DB7A4E;
    color: #FFFFFF;
}

.logo{
    align-items: right;
    
/* } */ 






/* footer
fixed positioning to stay below */