
:root {
    font-size: 10px;
}
  
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
body {
    font-family: "Verdana";
    font-size: 1.6rem;
}

:is(h1, h2),
  .nav > h3 > a {
    color: #335576;
}

.nav {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 2rem;
    margin: 0rem 8rem;
}
  
.nav a {
    text-decoration: none;
}

.nav__list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    column-gap: 3rem;
}
  
.nav__list a {
    color: #000;
}
  
  .nav__list__active {
    border-bottom: 0.5rem solid #db7a4e;
    padding-bottom: 1rem;
}
   
:is(.destination, .contact-us) {
    padding: 6rem;
    background-position: 20% 52%;
    background-size: cover;
}
  
:is(.recommendation, .contact-us) > h1 {
    font-size: 6rem;
    color: #fff;
    margin-left: 4rem;
    margin-bottom: 4rem;
}
  

footer {
    background-color: #fefaf5;
}
  
.company__info__footer {
    display: flex;
    justify-content: space-around;
    width: 75vw;
    margin: auto;
    padding: 2rem;
    color: #335576;
}
  
.company__info:first-child {
    flex-basis: 18%;
}
  
.company__info__days {
    flex-basis: 47%;
}

:is(.company__info__contact, .company__info__hours, .company__info__social__media) {
    list-style: none;
    margin-top: 2rem;

}
  
:is(.company__info__hours__footer, .company__info__social__media) {
    display: flex;
    justify-content: center;
    flex-flow: row;
    column-gap: 2.5rem;
}
  
:is(.company__info__contact, .company__info__hours) > li:first-child {
    font-size: 1.2rem;
    color: #db7a4e;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
  
.company__info__social__media img {
    min-width: 1.8rem;
    max-height: 3rem;
}
  
.company__info:last-child > h2 {
    margin-bottom: 4.5rem;
   
}

.company__info__social__media{
    padding-top: 2.5rem;
}